@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}
h2 {
   font-size: bold;
}
.qanswer ul {
  list-style: disc;
  padding: 20px 50px;
}
.qanswer ol{
  list-style: decimal; 
  padding: 20px 50px;
}
.qanswer ul.level2 {
  padding-left: 70px;;
  padding-top: 0px;
  padding-bottom: 0px;
}
p.spacing40 {
  margin-left: 40px;
}